.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-size: 50px;
}

.header {
  background: black;
  height: 42px;
  font-family: Georgia;
  font-size: 24px;
  color: white;
  padding: 10px 30px;
}

.editor {
  flex: 1;
  width: 45%;
}

#output {
  padding: 15px;
}

.BigPreview {
  width: 100%;
  height: 100%;
}

#BigPreview {
  padding: 15px;
}

.userImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.post {
  position: absolute;
  right : 30px;
  bottom: 60px;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255, 255, 255, 0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align:center;
  transition: all 0.2s;
  font-size: 24px;
}

.sidebar {
  background: rgb(207, 206, 206)
}

.changeCode {
  margin-top: 3px;
  width: 100%;
  height: 100%;
}